html *
{
   font_size: 30 !important;
   color: #000 !important;
   font_family: Roboto !important;
}

.h1{
    font_family: Arial;
    color: pink;
}
.idea_list{
    align: left;
}
.project_list{
    align: centre;
}
.user_dashboard{
    align: left;
}
.user_projects{
    align: left;
}
