@import "tailwindcss";

:root {
  --background_lightmode: #ffffff;
  --foreground_lightmode: #171717;
  --background_darkmode: #171717;
  --foreground_darkmode: #ffffff;
  --background: var(--background_lightmode);
  --hover-background: #b9b9b9;
  --foreground: var(--foreground_lightmode);
  --border: #b9b9b9;
  --border-radius: 8px;
  --flex-gap:16px
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background_darkmode: #0a0a0a;
    --foreground_darkmode: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  height: 100%;
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-size: 16px;
  border: var(--border);
  border-radius: var(--border-radius);
}