@import "tailwindcss";

:root {
  --background_lightmode: #ffffff;
  --foreground_lightmode: #171717;
  --background_darkmode: #171717;
  --foreground_darkmode: #ffffff;
  --background: var(--background_lightmode);
  --foreground: var(--foreground_lightmode);
  --border: #b9b9b9;
  --border-radius: 8px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background_darkmode: #0a0a0a;
    --foreground_darkmode: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  border: var(--border);
  border-radius: var(--border-radius);
}

/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

/* Global */
html, body {
  height: 100%;
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-size: 16px;
  color: #000;
  background: var(--background);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user_dashboard, .user_projects {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  position: right;
}

.site_footer {
  border-top: 2px solid #ccc;
  padding: 12px 18px;
  text-align: center;
  margin-top: 18px;
  position: sticky;
  bottom: 0;
}

.navButton {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 4px;
  margin: 4px;
  text-align: center;
}
